 .wp-block-create-block-andika {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

/* RichText component */
.andika-placeholder ::-webkit-input-placeholder {
    color: #888;
    font-style: italic;
    font-weight: normal;
}

.andika-placeholder ::-moz-placeholder {
    color: #888;
    font-style: italic;
    font-weight: normal;
}

.andika-placeholder :-ms-input-placeholder {
    color: #888;
    font-style: italic;
    font-weight: normal;
}

.andika-placeholder ::-ms-input-placeholder {
    color: #888;
    font-style: italic;
    font-weight: normal;
}

.andika-placeholder ::placeholder {
    color: #888;
    font-style: italic;
    font-weight: normal;
}
